.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

table {
    margin: 2px;
    width: auto;
    height: auto;
}

tr {
    display: grid;
    grid-template-columns: 18fr 1fr 1fr;
    grid-template-rows: auto;
    height: 55px;
    margin-left: 10px;
    margin-right: 10px;
}