.container {
    display: grid;
    grid-template-columns: auto;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

button {
    max-width: 250px;
    min-width: 250px;
    justify-self: center;
    margin-top: 10px;
}