.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.location {
    max-width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.location>mat-form-field {
    margin: 5px;
}