<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="push" opened=false>

        <div *ngIf="!(afAuth.authState | async)">
            <div (click)="login()">Login</div>
            <div (click)="register()">Register</div>
        </div>

        <div class="drawer" *ngIf="afAuth.authState | async">

            <button type="button" mat-raised-button color="warn" (click)="logout()">Log Out</button>

            <label>{{email}}</label>

            <div>
                <div *ngIf="accessGuard.allowedRole('sender')">
                    <label>Sender options</label>
                </div>

                <div *ngIf="accessGuard.allowedRole('provider')">
                    <label>Provider options</label>
                </div>

                <div *ngIf="accessGuard.allowedRole('dispatcher')">
                    <label>Dispatcher options</label>
                </div>
            </div>

        </div>

    </mat-drawer>

    <div>
        <app-navbar (eventEmitter)="eventCallBack($event)"></app-navbar>
    </div>

    <div class="main">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>