@font-face {
    font-family: 'Lato-Light';
    src: url('../../../assets/fonts/Light/Lato-Light.woff2') format('woff2'), url('../../../assets/fonts/Light/Lato-Light.woff') format('woff');
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../../../assets/fonts/Black/Lato-Black.woff2') format('woff2'), url('../../../assets/fonts/Black/Lato-Black.woff') format('woff');
}

@font-face {
    font-family: 'Irish';
    src: url('../../../assets/fonts/Thin/irish-grover-v10-latin-regular.woff') format('woff'), url('../../../assets/fonts/Thin/irish-grover-v10-latin-regular.woff2') format('woff2');
}